@model Entity.Venta.DetalleOrdenCompra

<div>
    <div class="tab-pane" id="tab_2">
        <div class="portlet light bg-inverse">
            <div class="portlet box blue-dark ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>
                        Orden de Venta
                    </div>
                    <div class="tools"><a href="" class="collapse"></a><a href="" class="reload"></a></div>
                </div>
                <div class="portlet-body form">
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Proveedor</label>
                                        <div class="col-md-9">
                                            <div>
                                                <p class="input-group">
                                                    <input type="text" class="form-control" ng-model="New.ID_Socio"
                                                           disabled>
                                                    <input type="text" class="form-control" ng-model="New.Nombres_Socio"
                                                           disabled>
                                                    <span class="input-group-btn">

                                                        <button type="button" ng-click="addSocio()" class="btn-icon-only ">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </p>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sucursal</label>
                                        <div class="col-md-9">
                                            <select ng-model="New.ID_Sucursal" class="form-control"
                                                    data-ng-options="a.ID_Direccion as a.Direccion for a in DireccionList"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3"> Tipo de Pago</label>
                                        <div class="col-md-9">
                                            <select ng-model="New.ID_FormaPago" class="form-control"
                                                    data-ng-options="a.Codigo as a.Descripcion for a in FormaList"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3"> Condicion Pago</label>
                                        <div class="col-md-9">
                                            <select ng-model="New.ID_CondicionPago" class="form-control"
                                                    data-ng-options="a.Codigo as a.Descripcion for a in CondicionList"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Estado</label>
                                        <div class="col-md-9">
                                            <select ng-model="New.Estado" name="Estado" id="Estado" class="form-control">
                                                <option value='P'>En Proceso...</option>
                                                <option value='A'>Aprobada</option>
                                                <option value='I'>Anulada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Fecha de Contabilización</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control input-inline input-medium" datepicker-popup="dd/MM/yyyy"
                                                   ng-model="New.FechaContabilidad" value="{{New.Fchope | date:'dd/MM/yyyy'}}"
                                                   is-open="opened1" min-date="minDate" max-date="'2019-06-22'" datepicker-options="dateOptions"
                                                   ng-required="true" close-text="Close" disabled ng-change="DescuentoListar()" />
                                            <span class=""><button type="button" class="btn btn-default" ng-click="open1($event)" ng-disabled="disabled"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="col-md-3 control-label">Fecha de Emisión</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control input-inline input-medium" datepicker-popup="dd/MM/yyyy"
                                                   ng-model="New.FechaEmision" value="{{New.Fchope | date:'dd/MM/yyyy'}}"
                                                   is-open="opened" min-date="minDate" max-date="'2019-06-22'" datepicker-options="dateOptions"
                                                   ng-required="true" close-text="Close" disabled ng-change="DescuentoListar()" />
                                            <span class=""><button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="disabled"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Fecha de Entrega</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control input-inline input-medium" datepicker-popup="dd/MM/yyyy"
                                                   ng-model="New.FechaEntrega" value="{{New.Fchope | date:'dd/MM/yyyy'}}"
                                                   is-open="opened" min-date="minDate" max-date="'2019-06-22'" datepicker-options="dateOptions"
                                                   ng-required="true" close-text="Close" disabled ng-change="DescuentoListar()" />
                                            <span class=""><button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="disabled"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                        </div>
                                    </div>


                                </div>
                                <div class="portlet-title ">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="portlet box">
                                                <div class="portlet box blue-dark">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <i class="fa fa-gift"></i>
                                                            Productos
                                                        </div>
                                                        <div class="actions">
                                                            <a></a>
                                                            <a href="#" class="btn btn-default btn-sm" ng-click="editDetalle2()">
                                                                <i class="fa fa-plus"></i> Agregar Producto
                                                            </a>

                                                        </div>


                                                        <div class="tools"><a href="" class="collapse"></a><a href="" class="reload"></a></div>
                                                    </div>
                                                </div>

                                                <div class="">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Codigo</th>
                                                                    <th>Codigo Producto</th>
                                                                    <th>Descripción</th>
                                                                    <th>Precio</th>
                                                                    <th>Descuento</th>                           
                                                                    <th>Igv</th>
                                                                    <th>Cantidad</th>
                                                                    <th>SubTotal</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="item in DetalleOrdenVentaList">
                                                                    <td>{{item.ID_DetalleOrden}} </td>
                                                                    <td>{{item.Codigo_Producto}} </td>
                                                                    <td>{{item.Descripcion_Producto}} </td>
                                                                    <td><input type="text" class="form-control text-right" ng-model="item.PrecioUnitario" value="{{item.PrecioUnitario |number:6}}" disabled></td>
                                                                    <td><input type="text" ng-model="item.Descuento" disabled>%</td>

                                                                    <td>19%</td>
                                                                    <td><input type="text" class="form-control text-right" ng-model="item.Cantidad" ng-change="Calcular2()" disabled></td>
                                                                    <td><input type="text" class="form-control text-right" ng-model="item.Monto" value="{{item.Monto |number:6}}" disabled></td>
                                                                    <td>
                                                                        <a href="#" class="btn btn-default btn-sm" ng-click="editDetalle(item.ID_DetalleOrden,item.Codigo_Producto,item.Descripcion_Producto,item.PrecioUnitario,item.Cantidad,item.Monto,New.ID_Socio)">
                                                                            <i class="fa fa-pencil"></i> Modificar
                                                                        </a>

                                                                    </td>

                                                                    <td>
                                                                        <a href="#" class="btn btn-default btn-sm" ng-click="deleteDetalle(item.ID_DetalleOrden)">
                                                                            <i class="fa fa-pencil"></i> Eliminar
                                                                        </a>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sub-total</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control text-right" ng-model="New.Monto" value="{{New.Monto |number:6}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Igv</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control text-right" ng-model="New.Impuesto" value="{{New.Impuesto |number:6}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Total Final</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control text-right" ng-model="New.Total" value="{{New.Total |number:6}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="button" class="btn blue-dark" ng-click="SaveNew2()" ng-disabled="disabled">Grabar</button>
                                            <button type="button" class="btn default" ng-click="Cancel()">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
