




<div>




    <div class="portlet box blue-dark ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>

              Descuento
            </div>
            <div class="tools">
                <a href="" class="collapse">
                </a>

                <a href="" class="reload">
                </a>

            </div>

        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form" id="FormMovbco" name="FormGrupo">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre </label>
                        <div class="col-md-9">
                            <input type="text" id="nombre_des" oninput="validacion('nombre_des')" ng-required=" true" class="form-control input-inline input-medium"
                                   ng-model="New.Nombre">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Descripción </label>
                        <div class="col-md-9">
                            <input type="text" ng-required="true" id="des_desc" oninput="validacion('des_desc')" class="form-control input-inline input-medium"
                                   ng-model="New.Descripcion">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Descuento </label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon">%.</span>
                                <input type="number" onclick="validar(porecnt.value);" min="0" max="99" maxlength="2" id="porecnt" oninput="maxLengthCheck(this), validacion('porecnt') "
                                       ng-model="New.PorcDscto" ng-required="true" onkeypress="return soloNumeros(event)">

                            
                            </div>
                </div>
                </div>


                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn blue-dark" ng-click="SaveNew()" ng-disabled="!New.Nombre || !New.Descripcion || !New.PorcDscto">Grabar</button>
                            <button type="button" class="btn default" ng-click="Cancel()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    


</div>





<script type="text/javascript">
    // Solo permite ingresar numeros.
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 46))
    }
</script>



<script>
    function validacion(id) {
        var elem = document.getElementById(id);
        if (elem.checkValidity(""))
            elem.style.borderWidth = "2px",
            elem.style.borderColor = "blue";

        else
            elem.style.borderColor = "Red";
    }
</script>



@*<script>
    function validar(texto) {

        if (texto.length < 1) { //si el texo es menor a 2
            alert('Ingrese Porcentaje');
        }
        else if (texto.length > 2) { //si el texo es mayor a 8
            alert('Sobrepasa el Límite');
        }

    }
</script>*@

<script>
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength)
            object.value = object.value.slice(0, object.maxLength)
    }
</script>



