<h1>GRUPOS DE DESCUENTO</h1>
<div class="page-bar blue-dark">
    <a ng-click="Create()" class="btn default">
        Nuevo
    </a>
    <a ng-click="Edit()" class="btn default">
        Modificar
    </a>
    <a ng-click="EstadoModificado()" class="btn default">
        Desactivar
    </a>
    <a ng-click="PUT()" class="btn default">
        Re-Activar
    </a>
    <a ng-click="Delete()" class="btn default">
        Eliminar
    </a>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-dark ">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Búsqueda de Grupo
                    </div>
                    <div class="tools">
                        <a href="" class="collapse">
                        </a>

                        <a href="" class="reload">
                        </a>

                    </div>
                </div>
                <div class="portlet-body" id="blockui_List_portlet_body">
                    <div class="table-responsive">


                        <div class="page-bar blue-dark">


                            <form role="form" class="form-inline" name="FormGrupoList">

                                <div class="form-group">
                                    <label class="control-label">Descripción</label>
                                    <input type="text" class="form-control input-medium" placeholder=""
                                           ng-model="parameters.Nombre">


                                    <label class="control-label">Estado</label>
                                    <select ng-model="parameters.TipoEstado" class="form-control">
                                        <option value='%'>Todos</option>
                                        <option value='A'>Activado</option>
                                        <option value='D'>Desactivado</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn blue-dark" ng-click="List()">Buscar</button>
                                </div>

                            </form>
                        </div>
                        <div>
                            <div class="row">
                            </div>

                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in GrupoList">
                                    <td>{{item.Nombre}}</td>
                                    <td> {{item.Estado}} </td>
                                    <td align="center">
                                        <input type="checkbox"
                                               ng-click="select(item.ID_Grupo)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
